*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}
.links{
    display: flex;
    gap: 20px;
}
.links a{
    color: black;
    text-decoration: none;
}
.hero{
    background-color: #767676;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: #5e5c5c;
    text-align: center;
    padding: 20px 02;
}