.quadro{
    width: 200px;
    height: 200px;
    background-color: red;
}
h1{
    text-align: center;
    line-height: 200px;
}
.quadroo{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
#2{
    text-align: center;
    line-height: 200px;
}
.quadrooo{
    width: 200px;
    height: 200px;
    background-color: green;
}